# Ignore the following stuff

# PhpStorm
.idea/workspace.xml
.idea/tasks.xml

# Containers /  Virtualization.
.lando.yml

# Sniffer
.phpcs.xml
phpcs.xml

# PHPUnit
phpunit.xml

# Composer
/vendor

# Drupal
/core
/modules/contrib/
/profiles/contrib/
/libraries/

# Ignore sensitive information
/sites/*/settings.php
/sites/*/settings.local.php
