{% extends "@classy/misc/status-messages.html.twig" %}
{% block messages %}
  {% if message_list is not empty %}
    <div class="message-popup" role="alert">
     <div class="message-popup-container">
       <div class="message-popup-title">
         <h2>Status Message</h2>
       </div>
        {{ parent() }}
        <a href="#" class="message-popup-close img-replace">Close</a>
     </div>
    </div>

  {% endif %}
{% endblock messages %}
